{% set task = tasks|first ?: {'id' : 0} %}
<div class="navbar navbar-expand bg-black">
     <div class="container-fluid">
         <a class="navbar-brand text-light">TO-DO</a>
         <!-- Modal button -->
         <button class="btn btn-primary" type="button" href="" data-bs-toggle="modal" data-bs-target="#createTask" data-whatever="{{ task.id }}">Nouvelle tâche</button>
     </div>
 </div>
 <!-- Modal -->
 <div class="modal fade" id="createTask" tabindex="-1" aria-labelleby="createModalLabel" aria-label="true">
     <div class="modal-dialog">
         <div class="modal-content bg-black text-light" >
             <div class="modal-header" data-bs-theme="dark">
                 <h4 class="modal-title">Création d'une nouvelle tâche</h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
            <div class="modal-body">
                <!-- Form include -->
                 {% include "form/createForm.html.twig" with {'form_task' : form_task} %} <!-- send variable -->
             </div>
         </div>
     </div>
 </div>

<!-- AJAX for load form -->
<script>
    fetch('createForm.php', {
        method: 'post',
        body: data,
    })
    .then(result => result.json())
    .then(console.log, console.error)
</script>

